{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College <Form></Form></title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">

    <ul>
        <li><a href="{% static 'css/style.css' %}">Style</a></li>
        <li><a href="{% static 'js/service.js' %}">Service</a></li>
        <li><a href="{% static 'js/script.js' %}">Script</a></li>
    </ul>
</form>

    
</body>
</html>